<!--
<section class="vh-100" style="background-color: #c3e1f5;">
    <div class="container h-75">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-5 m-5">
                <div class="row justify-content-center">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Dev Genius Lab</p>
                    <p class="text-center">An application for managing projects</p>
                        <p class="d-flex justify-content-center align-items-center mt-4">
                          <button type="button"  class="btn btn-outline-dark btn-rounded" style="background-color: rgb(55, 211, 223);">
                            Get started
                          </button>
                        </p>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <section class="py-5 border-bottom text-center" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">Keep track of your project</h2>
                    <p>Create, update, and see your projects to keep track of their status at any point. All in one account.</p>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                    <h2 class="h4 fw-bolder">Ease of use</h2>
                    <p>We took care of making sure the app is straight to the point.</p>
                    <a class="text-decoration-none" href="#!">
                        Call to action
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                    <h2 class="h4 fw-bolder">Developer features</h2>
                    <p>An array of features for developers to monitor clients.</p>
                    <a class="text-decoration-none" href="#!">
                        Call to action
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
</section>-->

<!-- <div>Some tags before</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide><img src="assets/images/p1.png" width="20px" alt="partner"></ng-template>  
  <ng-template carouselSlide><img src="assets/images/p1.png" width="20px" alt="partner"></ng-template>  
  <ng-template carouselSlide><img src="assets/images/p1.png" width="20px" alt="partner"></ng-template>  
</owl-carousel-o>
<div>Some tags after</div> -->

<div id="wrapper-div">
    <div class="main-cont">
        <div class="left">
            <button class="btn-left">
                Popular Tools
            </button>
            <ul>
                <li><a href="https://www.amazon.com/" target="_blank">amazon</a></li>
                <li><a href="https://mvnrepository.com/" target="_blank">mvn</a></li>
                <li><a href="https://www.figma.com/" target="_blank">figma</a></li>
                <li><a href="https://angular.io/" target="_blank">angular</a></li>
                <li><a href="https://jwt.io/" target="_blank">jwt</a></li>
                <li><a href="https://www.mysql.com/" target="_blank">mysql</a></li>
                <li><a href="https://spring.io/" target="_blank">spring</a></li>
            </ul>

            <button class="btn-left">
                Popular Tags
            </button>
            <p>
                <a href="https://www.amazon.com/" target="_blank">amazon</a> &nbsp;
                <a href="https://www.android.com/" target="_blank">android</a>&nbsp;
                <a href="https://apache.org/" target="_blank">apache</a>&nbsp;
                <a href="https://aws.amazon.com/console/" target="_blank">aws</a>&nbsp;
               
              
                <a href="https://www.eclipse.org/downloads/" target="_blank">eclipse</a>&nbsp;
                <a href="https://github.com/" target="_blank">github</a>&nbsp;
                <a href="https://gradle.org/" target="_blank">gradle</a>&nbsp;
                <a href="https://www.groovy-lang.org/" target="_blank">groovy</a>&nbsp;
            </p>
        </div>


        <div class="center">

            <section class="slides">
                <div class="container-fluid">
                    <div class="slider-wrap">
                        <div class="slider-main">
                            <div class="card one">
                                <div class="image-slide">
                                    <img src="assets/images/slide1.png" alt="">
                                </div>
                                <div class="text-slide one">
                                    <div class="text">
                                        <p>Create, update, and see your projects to keep track of their status at any
                                            point. All in one account.</p>
                                    </div>
                                    <button class="btn-start" (click)="getStarted()">Get started</button>
                                </div>

                            </div>
                            <div class="card two">
                                <div class="image-slide">
                                    <img src="assets/images/slide2.png" alt="">
                                </div>
                                <div class="text-slide two">
                                    <div class="text">
                                        <p>An array of features for developers to monitor clients.</p>
                                    </div>
                                    <button class="btn-start" (click)="getStarted()">Get started</button>
                                </div>
                            </div>

                            <div class="card three">
                                <div class="image-slide">
                                    <img src="assets/images/slide3.png" alt="">
                                </div>
                                <div class="text-slide three">
                                    <div class="text">
                                        <p>We took care of making sure the app is straight to the point.</p>
                                    </div>
                                    <button class="btn-start" (click)="getStarted()">Get started</button>
                                </div>
                            </div>
                        </div>
                        <div class="button-area">
                            <button type="button" class="btn-slide prev" appPrev>
                                <fa-icon [icon]="leftArrow" class="arrow-icon"></fa-icon>
                            </button>
                            <button type="button" class="btn-slide next" appNext>
                                <fa-icon [icon]="rightArrow" class="arrow-icon"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>