 <div id="wrapper-div">
    <div class="main-cont">
        <div class="left">
            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <li><a href="/profile">Home</a></li>
                    <li><a href="/profile">Personal info</a></li>
                    <li><a href="/profile">Data & privacy</a></li>
                    <li><a href="/profile">Security</a></li>
                    <li><a href="/profile">People & sharing</a></li>
                </ul>
            </nav>
            <div class="about">
                <a href="/profile">About</a>
            </div>
        </div>


        <div class="center">

            <div class="container">
                <div class="pt-2">
                    <div><h2>Personal info</h2></div>

                    <div class="card">
                       
                        <div class="card-body">
                            <div class="row">

                                <div class="col-6">
                                    <h3>Basic info</h3>
                                </div>
                            </div>
                            <div class="row info">
                                <div class="col-5">User ID:</div>
                                <div class="col-7">{{currentUser.userId}}</div>
                            </div>
                            <div class="row info">
                                <div class="col-5">User First Name:</div>
                                <div class="col-7">{{currentUser.firstName}}</div>
                            </div>
                            <div class="row info">
                                <div class="col-5">User Last Name:</div>
                                <div class="col-7">{{currentUser.lastName}}</div>
                            </div>

                            <div class="row info">
                                <div class="col-5">User Role:</div>
                                <div class="col-7">{{currentUser.role}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                       
                        <div class="card-body">
                            <div class="row">

                                <div class="col-6">
                                    <h3>Contact info</h3>
                                </div>
                            </div>
                            <div class="row info">
                                <div class="col-5">User Phone:</div>
                                <div class="col-7"></div>
                            </div>
                            
                            <div class="row info">
                                <div class="col-5">User Email:</div>
                                <div class="col-7">{{currentUser.email}}</div>
                            </div>

                            <div class="row info">
                                <div class="col-5">User Address:</div>
                                <div class="col-7"></div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <div class="right">
            <a href="https://climate.com/" target="_blank">
                <img height="550px" alt="" src="assets/images/Untitled1.png" />
            </a>
        </div>
    </div>


</div>  

<!-- <div>profile</div>
<div class="row">
    <div class="col-5">User ID:</div>
    <div class="col-7">{{currentUser.userId}}</div>
</div>
<div class="row">
    <div class="col-5">User First Name:</div>
    <div class="col-7">{{currentUser.firstName}}</div>
</div>
<div class="row">
    <div class="col-5">User Last Name:</div>
    <div class="col-7">{{currentUser.lastName}}</div>
</div>
<div class="row">
    <div class="col-5">User Email:</div>
    <div class="col-7">{{currentUser.email}}</div>
</div>

<div class="row">
    <div class="col-5">User Role:</div>
    <div class="col-7">{{currentUser.role}}</div>
</div>

<div class="row">
    <div class="col-5">Projects:</div>
    <div class="col-7">{{numberOfProjects}}</div>
</div>
 -->